<div class="title">誰でも学べる、触覚STEM教材</div>
<font size="2" color=indigo>
  障害の有無を問わず、科学、工学、技術、数学の分野を、学問の境界を越えて学べる、大学、大学院レベルの教材を提案しています。<br>
  多くの学生さんが、一緒に、読んで、見て、聞いて、触って学べる教材として、使っていただけると幸いです。<br>
  図やグラフには、触覚図と点字がついています。数式部分やプログラム部分にタッチすると、Latex、Python、SageMath、R、などのスクリプトが、クリップボードにコピーされます。<br>
  報告書やプログラムに貼り付けることで、作業が大幅に軽減できると考えています。<br>
</font>
<table class="book-table" border="1" >
  <tr>
    <th colspan="2">公開されている触覚STEM教材</th>
  </tr>
  <% for i in 0..@max_book_size  do %>
    <tr>
      <td width=20% style="text-align:center">
        <%=link_to tactile_mokuji_path(book_id:i), data: {"turbolinks"=>false} do %>
          <%= image_tag  @book_imgfile[i], :width => '150' %>
        <% end %>
      </td>
      <td >
        <%=link_to tactile_mokuji_path(book_id:i) do %>
          <span><font size="3" ><%= @book_title[i]%></font></span>
          <p id="p2"><font size="2" ><%= simple_format @book_content[i] %></font></p>
        <% end %>
    </tr>
  <% end %>
</table>
