
<div class="mokuji-body">
  <table class="mokuji-table" border="1">
    <tr>
      <th><%=@title%>　　目次</th>
    </tr>
    <% for page in 0..@max_page do %>
      <tr>
        <td>
          <%=link_to tactile_show_path(book_id:@book_id,pid:page.to_s,spid:"0",fn:"0") do %>
            <font size="1"><%= @pagenos[page] %></font><br>
            <%= @contents[page] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div id = "camera-target" class="mokuji-camera.hidden">
  <video id="video" autoplay muted playsinline></video>
</div>

<div class="mokuji-footer">
  <div class="mokuji-flex-item1">
    <%= button_to "⬅️ 触覚本一覧", root_path(), {method: :get, class:"mokuji_footer_btn"} %>
  </div>
  <div class="mokuji-flex-item1">
    <input type="button" value="Play" onclick="location.replace('<%= tactile_show_path(book_id:@book_id, pid:@page_id, spid:'0', fn:'0' ) %>')"  class="mokuji_footer_btn" >
  </div>
  <div class="mokuji-flex-item1">
    <%= button_to "QRコード", nil, {remote: true, method: :post, onclick:"camera('" + @folder + "')", id:"cameraBtn", class:"mokuji_footer_btn"} %>
</div>

