<!DOCTYPE html>
<html>
  <head>
    <title>Tactilereader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- 2021/03/05 serviceworker ここから -->
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="/favicon.ico" >
    <!-- ここまで 2021/06/24 -->
  <body>
    <%= yield %>
  </body>
</html>
